<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <a class="navbar-brand" href="#">To-Do App </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>

<div class="container col-4 border  mt-3" style="border-radius: 3%;">
    <form [formGroup]="login" (ngSubmit)="logindata(login)">
        <h3>Login</h3>
        <div class="form-group">
            <label>UserName</label>
            <input type="text" formControlName="username" class="form-control mb-3 mt-1 "
                placeholder="Enter Your username">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="text" formControlName="password" class="form-control mb-3 mt-1 "
                placeholder="Enter Your Password">
        </div>
        <br>
        <button type="submit" class="btn btn-success mr-1">Login</button>
        <a type="button" class="btn btn-primary m-1 " routerLink="/signup">signup</a>
    </form>
</div>
<router-outlet></router-outlet>