<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <a class="navbar-brand" href="#">To-Do App </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button><span> {{username}}</span>
    <div class="collapse navbar-collapse" id="navbarText">
        <span (click)="LogOut()" style="color: brown;;  font-weight:500;" routerLink="/login" *ngIf="id"
            class="navbar-text btn btn-sm">
            LogOut
        </span>
    </div>
</nav>

<section *ngIf="id" class="vh-100" style="background-color: #eee;">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col ">
                <div class="card rounded-3">
                    <div class="card-body p-4">
                        <h4 class="text-center my-3 pb-3">-|| To Do App ||-</h4>
                        <table class="table table-sm mb-4">
                            <thead>
                                <tr>
                                    <th class="text-center" scope="col">Task Id</th>
                                    <th class="text-center" scope="col">Description</th>
                                    <th class="text-center" scope="col">Status</th>
                                    <th class="text-center" scope="col">Due Date</th>
                                    <th class="text-center" scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let task of Tasks">
                                    <th scope="row">{{task.id}}</th>
                                    <td class="text-center">{{task.description}}</td>
                                    <td *ngIf="!task.status" style="color: rgb(255, 47, 0);" class="text-center">Process
                                    </td>
                                    <td *ngIf="task.status" style="color: rgb(0, 30, 255);" class="text-center">
                                        Completed </td>
                                    <td class="text-center">{{task.dueDate}}</td>
                                    <td class="text-center">
                                        <div class="d-flex text-center">
                                            <button type="submit" (click)="deletetask(task.id)"
                                                class="btn btn-danger btn-sm mr-1 ">Delete</button>
                                            <button type="submit" *ngIf="!task.status" (click)="updatetask(task.id)"
                                                class="btn btn-success btn-sm ms-1">Finished</button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <button class=" btn btn-primary" routerLink="/taskform"> + Add New Task</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<h1 class="container mt-2 col-3  " *ngIf="!id"> Please Login... <button class="btn  btn-primary"
        routerLink="/login">Login</button>